<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.wsx.dao.UserDao">
    <insert id = "save" >
        insert into a_user (username,password,email) values (#{username},#{password},#{email})
    </insert>

    <select id="q" resultType="User">
        select * from a_user where username = #{username}
    </select>
</mapper>
